.App-logo{
  height:80px;
  margin-right:auto;
  margin-left: auto;
  display:block;
}

.App-title{
  font-size: 2em;
}

.App-header{
  background-color: rgb(22, 44, 18);
  height: 150px;
  padding: 20px;
  color: white;
  font-family: 'Henny Penny', sans-serif;
  text-align: center;
}

body {
  background-color: rgba(225, 174, 71, 0.313); /* Change to your desired background color */
}

.App-Intro {
  font-family: 'Henny Penny', sans-serif;
  color: rgb(22, 44, 18);
}

.error-message {
  background-color: #ffdddd; /* Faint red/orange background color */
  border: 1px solid #ffaaaa; /* Faint red border */
  color: #ff0000; /* Red text color */
  border-radius: 5px; /* Rounded corners */
  padding: 10px; /* Add some padding for better spacing */
  margin: 10px auto; /* Center horizontally and add spacing at the top and bottom */
  max-width: 200px; /* Set the maximum width */
}